.project
.classpath
**.class
CREDITS-fml.txt
forge-*.txt
/LICENSE-fml.txt
MinecraftForge-*.txt
/bin
/eclipse

/minecraft/*
/minecraft.1.7.10
/minecraft-server
!/minecraft/mods
/build
/.settings
/.gradle

/buildcraft_resources

*.iml
/.idea/
/classes/