.project
.classpath
**.class
release.sh
CREDITS-fml.txt
forge-*.txt
/LICENSE-fml.txt
MinecraftForge-*.txt
/bin
/eclipse
/src/main/java/buildcraft/builders
/src/main/java/buildcraft/commander
/src/main/java/buildcraft/core
/src/main/java/buildcraft/energy
/src/main/java/buildcraft/factory
/src/main/java/buildcraft/silicon
/src/main/java/buildcraft/transport
/src/main/java/buildcraft/BuildCraft*.java
