<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AdditionalPipesBC"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraft.launchwrapper.Launch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${build_files}--version 1.8 --tweakClass net.minecraftforge.fml.common.launcher.FMLTweaker --accessToken modstest --username APDev --userProperties {} --assetIndex 1.8 --assetsDir ${env_var:userprofile}${env_var:HOME}/.gradle/caches/minecraft/assets"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AdditionalPipesBC"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfml.ignoreInvalidMinecraftCertificates=true -Dorg.lwjgl.librarypath=${env_var:userprofile}${env_var:HOME}\.gradle\caches\minecraft\net\minecraft\minecraft_natives\1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:AdditionalPipesBC/minecraft}"/>
</launchConfiguration>
